<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>
</div>


<div class="outer-container" *ngIf="weatherData">
  <div class="inner-container1">
    <img src="../assets/img/summer.png"  *ngIf="weatherData.main.temp > 15">
    <img src="../assets/img/winter.png"  *ngIf="weatherData.main.temp <= 15">

    <div class="weather-data">
      <div class="location"><b>{{weatherData.name}}</b></div>
      <div class="temperature"><b>{{ weatherData.main.temp | number: '1.0-0'}}&#176;C</b></div>
    </div>

  </div>
  <div class="inner-container2" >
    <div class="more-info-label">
      <b>More Information</b>
    </div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/min.png">
          <span>min</span>
        </div>
        <div class="info-block-value">{{weatherData.main.temp_min | number: '1.0-0'}}&#176;C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/max.png">
          <span>max</span>
        </div>
        <div class="info-block-value">{{weatherData.main.temp_max | number: '1.0-0'}}&#176;C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/humidity.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{weatherData.main.humidity}}%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/wind.png">
          <span>wind</span>
        </div>
        <div class="info-block-value">{{weatherData.wind.speed}}km/h</div>
      </div>

    </div>
  </div>
</div>
























<!-- <div class="outer-container">
  <div class="inner-container1">
    <img src="../assets/img/summer.png"  *ngIf="14 > 15">
    <img src="../assets/img/winter.png"  *ngIf="14 <= 15">

    <div class="weather-data">
      <div class="location"><b>Kolkata</b></div>
      <div class="temperature"><b>{{ 14.40 | number: '1.0-0'}}&#176;C</b></div>
    </div>

  </div>
  <div class="inner-container2" >
    <div class="more-info-label">
      <b>More Information</b>
    </div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/min.png">
          <span>min</span>
        </div>
        <div class="info-block-value">10&#176;C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/max.png">
          <span>max</span>
        </div>
        <div class="info-block-value">20&#176;C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/humidity.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">77%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/wind.png">
          <span>wind</span>
        </div>
        <div class="info-block-value">10km/h</div>
      </div>

    </div>
  </div>
</div> -->